<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand">
            <a href="https://www.linkedin.com/in/jayendra-birtharia-oracle-certified-java-developer-119b11163/" target="_blank">Phoenix</a>
        </div>
        <ul class="navbar-nav">
            <li><a routerLink="/welcome/Jayendra" class="nav-link">Home</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>